* {
    margin: 0;
    padding: 0;
}

.menu-item-class li {

    font-family: "Inter", sans-serif;
    font-family: 24px;
    color: #8987A1;
}

.menu-item-class li:nth-child(1) {

    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-family: 24px;
    color: #000;
}

.main-section {
    justify-self: center;
    width: 1140px;
}

.hero-title {
    font-family: "Noto Serif", serif;
    line-height: 84px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-left p {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: black;
    opacity: 50%;

}

/*Our Plants*/

.our-plants {
    margin-top: 120px;
    margin-bottom: 120px;
}

.section-title {
    font-weight: bold;
    font-family: "Noto Serif", serif;
}

.section-paragraph {
    font-weight: 400;
    opacity: 50%;
}

.section-paragraph {
    margin-top: 16px;
}

.plant-card {
    margin-top: 49px;
}

.card-title {
    /* margin-top: 30px; */
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600px;
}

.card-info {
    padding: 30px 16px;
}

.card-paragraph {
    /* margin-bottom: 30px; */
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.card-btn {
    padding: 19px;
}

/*Plant Lover*/

.plant-lover-title {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    line-height: 62px;
}

.item-1 {
    margin-top: 20px;
}

.paragraph-list ul li {
    margin-left: 40px;
}


/*Latest Deals*/

.latest-deal-parent {
    margin-top: 133px;
    margin-bottom: 120px;
}



.item1 {
    grid-area: myGrid;
}

.item2 {
    grid-area: myImage;
}

.item3 {
    grid-area: myBackground;
}

.latest-deals {
    display: grid;
    grid-template-areas: 'myGrid     myBackground     myBackground'
        'myImage    myBackground     myBackground';

    height: 423px;
    gap: 25px;



}

.latest-deals div {
    border-radius: 14px;
}

/*image overlay*/
.item1,
.item2,
.item3 {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* ensures overlay doesn't spill */
}

/* Overlay using ::before */
.item1::before,
.item2::before,
.item3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* black overlay, 40% opacity */
    z-index: 1;
}

/* Optional: ensure any content inside appears above overlay */
.item1 *,
.item2 *,
.item3 * {
    position: relative;
    z-index: 2;
}

/*end here*/


.item1 {
    background-image: url('../assets/deal-bloom.png');
    background-size: cover;
    background-position: center;


}

.item2 {
    background-image: url('../assets/deal-ana.png');
    background-size: cover;
    background-position: center;
}

.item3 {
    background-image: url('../assets/deal-zabo.png');
    background-size: cover;
    background-position: center;
}

.item1 h2,
.item2 h2 {
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: bold;
}

a.item1,
a.item2 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}


.item3 h2 {
    font-family: "Noto Serif", serif;
    font-size: 40px;
    font-weight: bold;
}

.item3 a {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 500;
}


/*Subscribe Section*/

.subscribe-section {

    width: 100%;
    height: 533px;
    background-color: bisque;
    background-image: url(../assets/news-letter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.overlay {
    gap: 20px;
}

.subscribe-form {
    display: flex;
    width: 100%;
}

.subscribe-form input[type="email"] {

    width: 35vw;
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 0;
    font-size: 1rem;
}

.subscribe-form button {
    width: 186px;
    padding: 15px 25px;
    background-color: #f4511e;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 0;
    cursor: pointer;
}

.subscribe-form button:hover {
    background-color: #d84315;
}

.form-title {
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
}

/*Footer*/

.footer {
    padding: 50px 0;
}

.footer-paragraph {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    opacity: 50%;
}

.fcol-2 ul li a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    opacity: 50%;
}

.fcol-3 ul li a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    opacity: 50%;
}

.fcol-1 img {
    width: 135px;
    height: 82px;
}

.fcol-1 {
    grid-area: fcol1;

}

.fcol-2 {
    grid-area: fcol2;

}

.fcol-3 {
    grid-area: fcol3;

}

.fcol-4 {
    grid-area: fcol4;

}

.fcol-4 img {
    width: 36px;
    height: 36px;
}

.footer {
    display: grid;
    column-gap: 20px;
    grid-template-areas: 'fcol1 fcol1 fcol2 fcol3 fcol4 fcol4';
}

@keyframes slow-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-slow-spin {
    animation: slow-spin 25s linear infinite;
}



























/*Media Query*/

@media screen and (min-width: 360px) and (max-width: 475px) {

    .main-section {
        width: 475px;
        padding: 0 16px;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-left {
        margin-top: 28px;

    }

    .hero-right {
        margin-top: 28px;
    }

    .m-hidden-item {
        display: none;
    }

    .hero-title {
        font-size: 48px;
        line-height: 64px;
    }

    .hero-paragraph {
        font-size: 14px;
    }

    .l-break {
        display: none;
    }

    /* Our Plants */

    .plant-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .our-plants {
        margin-top: 65px;
        margin-bottom: 40px;
    }

    /*Plant Lover*/
    .plant-lover {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .plant-lover-title {
        font-size: 24px;
    }

    .item-1 {
        margin-top: 16px;
    }

    .paragraph-list ul li {
        font-size: 14px;
    }


    /*Latest Deals*/

    .latest-deals {
        display: grid;
        grid-template-areas: 'myGrid'
            'myImage'
            'myBackground';

        gap: 20px;

    }

    .latest-deals div {
        height: 201px;
    }


    .item3 h2 {
        font-family: "Noto Serif", serif;
        font-size: 20px;
        font-weight: bold;
    }

    .item3 a {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
    }

    /*Subscribe*/

    .subscribe-section {

        margin-top: 250px;
        height: 276px;

    }

    .overlay h2 {
        font-size: 20px;
        font-family: "Noto Serif", serif;
    }

    .subscribe-form input[type="email"] {

        width: 60vw;

    }

    .subscribe-form button {
        width: 103px;

    }

    /*Footer*/

    .footer {
        display: grid;
        column-gap: 20px;
        grid-template-areas: 'fcol1'
            'fcol2'
            'fcol3'
            'fcol4';
    }

    .footer {
        row-gap: 32px;
    }

    .badge {
        display: none;
    }

}